parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method isFuture\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Core/Auth/Controllers/AuthController.php

		-
			message: '#^Parameter \#2 \$value of function cookie expects string\|null, true given\.$#'
			identifier: argument.type
			count: 1
			path: app/Core/Auth/Controllers/MfaController.php

		-
			message: '#^Offset ''announcements'' on array\{\}\|string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Core/Services/NotificationService.php

		-
			message: '#^Offset ''system'' on array\{\}\|string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Core/Services/NotificationService.php

		-
			message: '#^Offset ''updates'' on array\{\}\|string on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Core/Services/NotificationService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$first_name\.$#'
			identifier: property.notFound
			count: 7
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$last_name\.$#'
			identifier: property.notFound
			count: 7
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Call to function is_array\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 3
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Modules\\Leave\\Models\\LeaveCredit\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Cannot call method isFuture\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/SecurityController.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/Settings/SecurityController.php

		-
			message: '#^Method App\\Http\\Requests\\Settings\\PasswordUpdateRequest\:\:passwordRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\ValidationRule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Password\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/Settings/PasswordUpdateRequest.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\UserResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: '#^Parameter \#1 \$modelOrId of method Spatie\\Activitylog\\Support\\ActivityLogger\:\:causedBy\(\) expects Illuminate\\Database\\Eloquent\\Model\|int\|string\|null, Illuminate\\Contracts\\Auth\\Authenticatable given\.$#'
			identifier: argument.type
			count: 2
			path: app/Listeners/LogAuthenticationEvents.php

		-
			message: '#^Parameter \#1 \$modelOrId of method Spatie\\Activitylog\\Support\\ActivityLogger\:\:causedBy\(\) expects Illuminate\\Database\\Eloquent\\Model\|int\|string\|null, Illuminate\\Contracts\\Auth\\Authenticatable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Listeners/LogAuthenticationEvents.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:published\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Modules/Announcements/Models/Announcement.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:onlyTrashed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Modules/Attendance/Models/Attendance.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$first_name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Audit/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$last_name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Audit/Controllers/AuditController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$first_name\.$#'
			identifier: property.notFound
			count: 3
			path: app/Modules/DocumentRequests/Controllers/DocumentRequestController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$last_name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/DocumentRequests/Controllers/DocumentRequestController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Core\\Services\\NotificationService\:\:notifyUser\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 5
			path: app/Modules/DocumentRequests/Controllers/DocumentRequestController.php

		-
			message: '#^Call to function is_array\(\) with string\|null will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Modules/DocumentRequests/Models/DocumentRequest.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: app/Modules/DocumentRequests/Models/DocumentRequest.php

		-
			message: '#^Instanceof between Illuminate\\Http\\UploadedFile and Illuminate\\Http\\UploadedFile will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Modules/DocumentRequests/Services/DocumentRequestService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Leave/Services/LeaveService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$division\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Personnel/Services/MilestoneService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$employee_number\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Personnel/Services/MilestoneService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$hire_date\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Personnel/Services/MilestoneService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Personnel/Services/MilestoneService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Modules/Personnel/Services/MilestoneService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$salary_step\.$#'
			identifier: property.notFound
			count: 1
			path: app/Modules/Personnel/Services/MilestoneService.php

		-
			message: '#^Parameter \#1 \$array of function usort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Modules/Personnel/Services/MilestoneService.php

		-
			message: '#^Parameter \#2 \$callback of function usort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Modules/Personnel/Services/MilestoneService.php

		-
			message: '#^Method App\\Modules\\Roles\\Services\\RoleService\:\:createRole\(\) should return Spatie\\Permission\\Models\\Role but returns Spatie\\Permission\\Contracts\\Role\.$#'
			identifier: return.type
			count: 1
			path: app/Modules/Roles/Services/RoleService.php

		-
			message: '#^PHPDoc type string of property Database\\Factories\\AnnouncementFactory\:\:\$model is not covariant with PHPDoc type class\-string\<App\\Modules\\Announcements\\Models\\Announcement\> of overridden property Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Modules\\Announcements\\Models\\Announcement\>\:\:\$model\.$#'
			identifier: property.phpDocType
			count: 1
			path: database/factories/AnnouncementFactory.php
